body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../images/index-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;   
}

a {
   text-decoration: none; 
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;

    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-header {
    margin-bottom: 75px;
}

.main-header-inner-page {
    margin-bottom: 50px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: white;

    /*background-color: black;*/
}

.main-header-logo {
    order: 2;

    width: 368px;
    height: 153px;
}

.main-header-logo-inner-page {
    margin-right: 17px;
    margin-bottom: 2px;
    width: 112px;
    height: 24px;
}

.main-header-logo-inner-page a {
    padding-top: 25px;
    padding-bottom: 10px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 0;
    padding: 0;
}

.user-navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.main-navigation-wrapper-inner-page {
    width: 100%;

    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;


    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper-inner-page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;

    color: white;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("../images/icons/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    width: 300px;

    text-align: center;
}

.feature-item h3 {
    position: relative;

    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #ffffff;

    transform: rotate(45deg);
}

.feature-item p {
    margin: 0 10px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: 
        url("../images/line.png"),
        url("../images/pattern-light.jpg");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;
    
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

.gallery {
    width: 300px;
}

.gallery-container {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

.appointment {
    width: 300px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item{
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label {
    display: block;
    margin-left: 15px;
    margin-bottom: 9px;
}

.appointment-item input {
    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;

    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment .button {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.main-footer {
    margin-top: 65px;
    padding: 60px 0;

    color: #ffffff;
    
    background-color: #212121;
    background-image: url("../images/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-footer {
    margin-top: 50px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #000000;
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    text-align: center;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #ffffff;

    background-color: #ffffff;
}

.modal {
    color: #ffffff;

    background-color: #f8f3f0;
    background-image: url("../images/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}




/* Стили для карточки товара */
.inner-page-body {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("../images/pattern-light.jpg");
}

/*.inner-header-logo-container {
    height: 100%;
    vertical-align: middle;
}

.inner-header-logo {
    display: block;
    padding: 10px 20px;
}*/

.inner-page-body .main-header {
    margin-bottom: 0;
}

.page-title h1 {
    margin: 0;
    margin-bottom: 16px; 
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 53px;
}

.set-composition-items,
.breadcrumbs-list {
    list-style: none;
}

.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumbs-list a {
    color: #000000;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus,
.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
    color: #4e4e4e;
}

.breadcrumbs-list li {
    position: relative;
    margin-right: 45px;
}

.breadcrumbs-list li:not(:last-child)::after {
    content: "";

    position: absolute;
    top: 7px;
    right: -27px;

    width: 8px;
    height: 8px;

    background-color: #000000;

    transform: rotate(45deg);
}

.breadcrumbs-list li:last-child {
    color: #ABA9A7;
}

.product-photos {
    width: 460px;
}

.main-photo {
    margin-bottom: 20px;
    height: 498px;

    box-shadow: 0 0 15px rgba(0,1,1,0.2);
    background-color: grey;
}

.photos-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photos-preview-item {
    width: 140px;
    height: 149px;

    box-shadow: 0 0 15px rgba(0,1,1,0.2);
}

.item-columns {
    display: flex;
    justify-content: space-between;
}

.availability-and-article-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
    margin-bottom: 29px;

}

.availability-and-article-wrapper .article {
    color: #AEAEAE;
}

.price-and-buy-button-wrapper {
    display: flex;
    margin-bottom: 60px;
}

.price {
    min-width: 70px;
    text-align: center;
    padding: 10px 20px;

    font-size: 14px;
    line-height: 24px;

    background-color: #E5E5E5;
}

.description {
    width: 390px;
}

.description p {
    margin-bottom: 38px;
}

.set-composition h2 {
    margin-bottom: 28px;
}

.set-composition-items {
    position: relative;
    margin: 0;
    padding-left: 20px;
}
.set-composition-items li {
    position: relative;
}

.set-composition-items li::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -18px;

    width: 7px;
    height: 7px;

    background-color: #000000;

    transform: rotate(45deg);
}
/*.feature-item h3 {
    position: relative;

    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #ffffff;

    transform: rotate(45deg);
}*/


/*Стили для каталога*/

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    width: 208px;
}

.product-list {
    width: 700px;
}

.product-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-card {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    box-sizing: border-box;
    width: 220px;
    background-color: #ffffff;
    
    box-shadow: 0 0 15px rgba(0,1,1,0.2);
}

.product-card .image-block {
    width: 100%;
    height: 165px;
    margin-bottom: 12px;
}

.product-description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.product-card .product-title {
    text-transform: none;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

.product-card .product-checkout{
    display: flex;
}

.product-card .product-checkout .price {
    font-size: 14px;
    line-height: 24px;

    background-color: #E5E5E5;
}

.product-card .product-checkout .button {
    margin-right: 0;
    width: 78px;
    padding: 0;
}

.filter-type-title {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.option {
    display: block;
    margin-bottom: 12px;
}

.check {
    
    padding-left: 43px;

}

.check-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.check-box {
    position: absolute;
    margin-left: -42px;
    width: 20px;
    height: 20px;
    background-color: #F9F6F3;
    box-shadow: inset 0 0 0 2px #000000;
}

.check-input:checked + .check-box {
    background-image: url("../images/icons/cross-small.svg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.radio {
    padding-left: 43px;
}

.radio-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio-button {
    position: absolute;
    margin-left: -44px;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: #F9F6F3;
    box-shadow: inset 0 0 0 2px #000000;
}

.filter-item-label {
    font-size: 14px;
    line-height: 18px;
}

.radio-input:checked + .radio-button {
    background-image: url("../images/icons/shape.svg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.paginator {
    display: flex;
    margin-top: 45px;
}

.paginator a {
    
    padding: 10px 19px;
    margin-right: 6px;
}

